# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "37 13 * * *"
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-label: "no-issue-activity"
          stale-pr-label: "no-pr-activity"
          stale-issue-message: "This issue is stale because it has been open 7 days with no activity. Remove stale label or comment, or this will be closed in 7 days."
          stale-pr-message: "This PR is stale because it has been open 7 days with no activity. Remove stale label or comment, or this will be closed in 7 days."
          close-issue-message: "This issue was closed because it has been stalled for 14 days with no activity."
          days-before-stale: 7
          days-before-close: 7
          delete-branch: true
          exempt-draft-pr: true
          exempt-pr-labels: "dependencies"
          exempt-issue-labels: "valid"
